.layer {
    display: flex;
    height: 100%;
    position: fixed;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    z-index: 9000;
    & .layer-container {
        display: flex;
        max-width: 100dvh;
        max-height: 100dvh;
        border-radius: 8px;
        position: absolute;
        bottom: -70%;
        min-width: 30dvw;
        min-height: 30dvh;
        transition: bottom 1s;
        &.open {
            bottom: 0;
        }

        body[data-mode='black'] & {
            background-color: #343434;
            color: #fff;
        }
    }
}
