.find-account-info-container {
    display: flex;
    flex: 1 0;
    gap: 1rem;
    font-size: 1.07rem;
    justify-content: flex-end;
    text-wrap: nowrap;
    & > a {
        text-decoration: underline;
        color: #717171;
    }
}
