flex-layout {
    display: inline-flex;
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-wrap: revert;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}

flex-layout[data-direction="column"] {
    flex-direction: column;
}

flex-layout[data-direction="row"] {
    flex-direction: row;
}

flex-layout>.flex-layout-content[data-is_resize="true"] {
    flex: 1 1 0%;
    box-sizing: border-box;
    overflow: hidden;
}

flex-layout>.flex-layout-content[data-is_resize="false"] {
    flex: 0 0 0%;
    box-sizing: border-box;
    overflow: hidden;
}

flex-layout .flex-resize-panel {
    background-color: #b1b1b1;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex: 0 0 0.1%;
    position: relative;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 0;
    bottom: 0;
}
flex-layout .flex-resize-panel.center-cylinder:hover::after,
flex-layout .flex-resize-panel.center-cylinder:active::after{
    background-color: rgb(0 102 255 / 45%);
    transition: background-color 1s;
}
flex-layout .flex-resize-panel.center-cylinder::after{
    background-color: hsla(0, 0%, 54%, .32);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    bottom: 100%;
    content: " ";
    height: 1.1dvh;
    position: absolute;
    width: 60%;
    z-index: 101;
}
flex-layout[data-direction="row"] .flex-resize-panel {
    width: 4px;
    height: 100%;
}

flex-layout[data-direction="column"] .flex-resize-panel {
    height: 4px;
    width: 100%;
}

flex-layout[data-direction="row"] .flex-resize-panel:hover>.hover,
flex-layout[data-direction="row"] .flex-resize-panel>.hover[data-is_hover],
flex-layout .flex-resize-panel:active>.hover {
    width: 3px;
    height: inherit;
}

flex-layout[data-direction="column"] .flex-resize-panel:hover>.hover,
flex-layout[data-direction="column"] .flex-resize-panel>.hover[data-is_hover],
flex-layout .flex-resize-panel:active>.hover {
    height: 3px;
    width: inherit;
}

flex-layout[data-direction="row"] .flex-resize-panel {
    cursor: ew-resize;
}

flex-layout[data-direction="column"] .flex-resize-panel {
    cursor: ns-resize;
}

flex-layout .flex-resize-panel>.hover {
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}

flex-layout .flex-resize-panel:hover, 
flex-layout .flex-resize-panel:active{
    animation-name: drag-panel-hover;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1, -0.37, 0.73, 0.8);
}

flex-layout .flex-resize-panel:hover>.hover,
flex-layout .flex-resize-panel>.hover[data-is_hover],
flex-layout .flex-resize-panel:active>.hover {
    background-color: #0066ffb5;
    z-index: 101;
    position: absolute;
    display: block;
    opacity: 1;
    visibility: inherit;
    transition: all 1s;
    animation-name: drag-panel-hover-highlight;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1, -0.37, 0.73, 0.8);
}

@keyframes drag-panel-hover {
    0% {
        background-color: #b1b1b1d6;
    }

    10% {
        background-color: #b1b1b1ba;
    }

    20% {
        background-color: #b1b1b194;
    }

    40% {
        background-color: #b1b1b17d;
    }

    60% {
        background-color: #b1b1b152;
    }

    80% {
        background-color: #b1b1b130;
    }

    100% {
        background-color: #b1b1b100;
        animation-play-state: paused;
    }
}

@keyframes drag-panel-hover-highlight {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.4;
    }

    60% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
        animation-play-state: paused;
    }
}