.button-standard{
	border: revert;
	border-color: #464646;
	color: #b9b9b9;
	background-color: #343434;
	outline: none;
	
	&&.initial{
		width:initial
	}
	&&.inherit{
		width:inherit;
	}
	&&.long{
		width: 100%;
	}
	&&.middle{
		width: 50%;
	}
	&&.short{
		width: 20%;
    }
}