
.button{
	cursor: pointer;
	background-color: #343434;
	border-color: #464646;
	color: #b9b9b9;
	/*max-width: fit-content;*/
	min-width: fit-content;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
	&&[color-mode="black"]{
		background-color: #343434;
		border-color: #464646;
		color: #b9b9b9;
	}
	&&.standard{
		border: revert;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&&.initial{
		width:initial
	}
	&&.inherit{
		width:inherit;
	}
	&&.long{
		width: 100%;
	}
	&&.middle{
		width: 50%;
	}
	&&.short{
		width: 20%;
    
	}
	&&.spin:not(:hover) > *{
		transition: 1s transform;
		transform: rotate(0deg);
	}
	&&.spin:hover > *{
		color: #9f6b6b;
		transition: 1s transform;
		transform: rotate(270deg);
	}

}