.find-account-info-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.07rem;
    flex: 1 0 0%;
    & > a {
        text-decoration: underline;
        color: #717171;
    }
}
