.my-profile-container {
    display: flex;
    word-wrap: anywhere;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    & label,
    & input,
    & select,
    & option {
        font-size: 1.7rem;
        text-wrap: nowrap;
        width: 70%;
    }
    & select {
        padding: 0;
        padding-left: 1.09dvw;
    }
    & label {
        padding-left: 1dvh;
    }
    .my-profile-form {
        display: flex;
        word-wrap: anywhere;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 100%;
        align-items: center;

        & > div {
            display: flex;
            padding-bottom: 2dvh;
            justify-content: space-around;
            width: 100%;
            align-items: center;
            &.submit-button-wrapper {
                display: flex;
                justify-content: flex-end;
                & button {
                    border: 2px solid rgb(0 0 0 / 15%);
                    border-radius: 9px;
                }
            }
        }
    }
}
