.input-standard{
	border: none;
    background: none;
	border-bottom: solid 1px; 
	border-left: solid 1px;
	&&.pale-red{
		border-bottom-color: #ffe7e7;
		border-left-color: #ffe7e7;
	}
	&&.bright-purple{
		border-bottom-color: #edd4ff;
		border-left-color: #edd4ff;
	}
	&&.bright-grey{
		border-bottom-color: #d3d3d3;
		border-left-color: #d3d3d3;
	}
	&&.translucent-grey{
		border-bottom-color: #cbcbcbbd;
		border-left-color: #cbcbcbbd;
	}
}