.genre-list-container {
    flex-wrap: nowrap;
    text-wrap: nowrap;
    gap: 2vw;
    display: flex;
    width: 98%;
    && .genre-list-item {
        & input {
            &:checked + label {
                color: red;
                text-decoration: underline;
            }
        }

        & label {
            color: green;
            font-size: 1.2rem;
        }
    }
}
