.gnb-container {
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    width: 100%;
    justify-content: space-between;
    gap: 1dvw;
    /*다크모드 // 컬러 모드 개발 전까지 임시*/
    body[data-mode='black'] && {
        border-color: #464646;
        background-color: #343434;
    }
    && :nth-child(5n) {
        border-right: none;
    }
    && :nth-child(5n + 1) {
        border-left: none;
    }
}
