.input {
    background: none;
    font-size: 1.4rem;
    height: fit-content;
    body[data-mode='black'] && {
        color: #b9b9b9;
    }
    &&:not(.color-none) {
        border: none;
        border-bottom: solid 1px;
        border-left: solid 1px;
    }
    &&.color-none {
        border: none;
    }
    &&.pale-red {
        border-bottom-color: #ffe7e7;
        border-left-color: #ffe7e7;
    }
    &&.bright-purple {
        border-bottom-color: #edd4ff;
        border-left-color: #edd4ff;
    }
    &&.bright-grey {
        border-bottom-color: #d3d3d3;
        border-left-color: #d3d3d3;
    }
    &&.translucent-grey {
        border-bottom-color: #cbcbcbbd;
        border-left-color: #cbcbcbbd;
    }
    &&.initial {
        width: initial;
    }
    &&.inherit {
        width: inherit;
    }
    &&.long {
        height: 99.52%;
        width: 99.52%;
    }
    &&.middle {
        width: 49.52%;
    }
    &&.short {
        width: 19.52%;
        height: 4rem;
    }
}
