.select {
    border: none;
    color: #159f33;
    padding-bottom: 0.4vh;
    text-decoration: underline;
    text-underline-offset: 0.2vh;
    text-decoration-color: #159f3324;
    body[data-mode='black'] && {
        background-color: #343434;
        /*border-color: #464646;*/
        && > svg {
            color: #cbc3e3;
        }
    }

    body:not([data-mode]) && > svg {
        color: #6f6f6f;
    }

    &&.svg_top {
        flex-direction: column;
    }

    &&.svg_bottom {
        flex-direction: column-reverse;
    }

    &&.svg_left {
        flex-direction: row;
    }

    &&.svg_right {
        flex-direction: row-reverse;
    }

    &&.svg {
        font-size: 1.05rem;
    }

    &&.initial {
        width: initial;
    }

    &&.inherit {
        width: inherit;
    }

    &&.long {
        width: 99.52%;
    }

    &&.middle {
        width: 49.52%;
    }

    &&.short {
        width: 19.52%;
        height: 4rem;
    }
}
