.painting-webtoon-container {
    display: flex;
    flex-direction: column;
    gap: 5dvh;
    & .painting-webtoon-content {
        display: flex;
        & .webtoon-detail {
            flex: 0.5 0 0;
        }
        & .thumbnail-container {
            flex: 0.2 0 0;
            & .thumbnail {
                max-width: 100%;
                height: auto;
                aspect-ratio: attr(width) / attr(height);
                image-rendering: auto;
            }
        }
    }
}
