.loading-rotate{
    border: 0.8vmax solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.8vmax solid #3498db;
    width: 4vmax;
    height: 4vmax;
    margin: 0 auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}