.add-webtoon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .move-painting {
        display: flex;
        align-items: center;
    }
}
.my-webtoon-list-item {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 1.5rem;
    overflow: hidden;
    overflow-wrap: revert;
    gap: 1dvw;
    & > .my-webtoon-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
