/* stylelint-disable */
:root {
    --bg-mode: initial;
    /*#343434;*/
}
html {
    font-size: 1.4vmax;
    font-family: serif;
}
body,
html {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    scrollbar-width: none;
    user-select: auto;
    overflow: hidden;
}
/* summary 마크 화살표 제거 */
summary {
    list-style: none;

    &&::marker {
        display: none;
    }
}

ul {
    list-style: none;
    padding: 0;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

button {
    cursor: pointer;
    min-width: fit-content;
    display: flex;
    justify-content: space-around;
    font-size: 1.8rem;
    align-items: center;
}

label {
    font-size: 1.2rem;
}

input,
button {
    outline: none;
    background: none;
    border: none;
}

input {
    border-bottom: solid 1px #ffe7e7;
    border-left: solid 1px #ffe7e7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    outline: none;
    & option {
        font-size: 1.2vw;
        text-align: center;
    }
}
