.spin {
    &&.on {
        color: #9f6b6b;
        transition: transform 1s;
        transform: rotate(270deg);
    }
    &&:not(.on) {
        transition: transform 1s;
        transform: rotate(0deg);
    }
}
