.search-and-menu-container {
    display: flex;
    align-items: flex-end;
    min-height: max-content;
    gap: 0.6dvw;
    border-top: 4px solid;
    padding: 0 1dvw 0 1dvw;
    body[data-mode='black'] && {
        border-color: #464646;
        background-color: #343434;
        color: white;
    }
}
